<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>music-finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83476EC61DCE213000F19FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83476EE21DCE213000F19FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83476EED1DCE213000F19FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
